 /* h4 {
    font-family: 'Cormorant Garamond', serif;
} */
@font-face {
    font-family: "MyFont";
    src: url(../fonts/CormorantGaramond-Italic.ttf);
}
*{
    font-family: "MyFont"
}
p{
    font-weight: 100;
    font-size: 120px;
}